*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 3%;
  font-size: 14px;
  line-height: 1.71;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.link.current {
  color: #2196f3;
  position: relative;
  padding-bottom: 8px;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button:hover, .button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.button.primary {
  padding: 10px 32px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: backgroung-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: backgroung-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: currentColor;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}

.logo {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.logo-blue {
  color: #2196f3;
}

.logo-white {
  color: #ffffff;
}

.site-nav {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.site-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav .link {
  display: block;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.item.link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  margin-bottom: 40px;
}

.auth-nav {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav .item:not(:last-child) {
  margin-bottom: 40px;
}

.item-mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
}

.item-mail:hover, .item-mail:focus {
  color: #2196f3;
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.section.portfolio {
  padding-top: 93px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.btn .button {
  padding: 6px 22px;
  border: 0px;
}

.btn .button + .button {
  margin-left: 8px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .title {
  padding-top: 20px;
  margin: 0;
  margin-left: 24px;
  color: #212121;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.main .text {
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  color: #757575;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.88;
}

.card {
  position: relative;
  display: block;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 370px;
  max-height: 404px;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card:hover {
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .text-before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.img {
  display: block;
  width: 100%;
}

.elements {
  position: relative;
  overflow: hidden;
}

.text-before {
  position: absolute;
  top: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.techno {
  margin: 0;
}

.item-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  margin-left: 32px;
  margin-bottom: 24px;
}

.element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.element:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.sn + .sn {
  margin-left: 10px;
}

.section.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.section .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.team .team-item {
  width: 450px;
  height: 482px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-bottom: 30px;
}

.team .title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .text {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  color: #ffffff;
  background-color: #2f303a;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .logo {
  margin-bottom: 10px;
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}

.footer .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .element:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-title {
  margin-left: 69px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer-join {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer .subscript {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 570px;
  height: 86px;
  margin-left: 94px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer .text {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 13px;
  right: 28px;
}

.form-footer {
  bottom: 0;
  left: 0;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
}

.form-footer:focus {
  border-color: #2196f3;
}

.form-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  height: 50px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  padding-right: 62px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.ps {
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
}

.ps .text {
  margin-top: 0;
  margin-bottom: 0;
}
/*# sourceMappingURL=profile.css.map */