.footer {
  & .element {
    display: flex;
    width: 44px;
    height: 44px;
    color: $pr-w-c;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  & .element:hover {
    color: $pr-w-c;
    background-color: $accent;
  }

  &-main {
    display: flex;
  }

  &-title {
    margin-left: 69px;
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }

  &-join {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
