.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $pr-w-c;

  @media screen and(min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $accent;
  }
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
